<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twin Stopwatch</title>
    <!-- Roboto -.->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--Space Grotesk 400, 500-->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/16de46bef4.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/json" src="<%=userId%>/<%=date%>/timeline.json"></script>
    <script src="js/tab.js" defer></script>

    <script src="js/login.js" defer></script>
    

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="903349332883-995chld01uuon0eips74usst1222bmcp.apps.googleusercontent.com"
    />

    <script>
      function checkLoginStatus() {
        console.log("googleAuth success");
        var loginBtn = document.querySelector("#loginout_button");
        if (gauth.isSignedIn.get()) {
          console.log("logined");
          var profile = gauth.currentUser.get().getBasicProfile();
          console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log("Name: " + profile.getName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.

          loginout_button.innerHTML = "로그아웃";
        } else {
          console.log("logouted");
          loginout_button.innerHTML = "로그인";
        }
      }
      function init() {
        console.log("init");
        gapi.load("auth2", function () {
          console.log("auth2");
          window.gauth = gapi.auth2.init({
            client_id:
              "903349332883-995chld01uuon0eips74usst1222bmcp.apps.googleusercontent.com",
          });
          gauth.then(
            function () {
              console.log("googleAuth success");
              checkLoginStatus();
            },
            function () {
              console.log("googleAuth fail");
            }
          );
        });
      }

      
    </script>
  </head>

  <body>
    <!-- header -->
    <header>
      <div class="nav_bar">
        <a href="#" class="menu_icon">
          <i class="fas fa-bars"></i>
        </a>
        <a a href="#" class="user_icon">
          <i class="far fa-user"></i>
        </a>
      </div>
    </header>
    <!-- main content-->
    <!-- timer -->
    <div class="main_contents_and_tab">
      <div class="main_content">
        <section>
          <div class="timer">
            <div class="study_time_display">
              <span class="study_time" id="study_time">00:00:00</span>
            </div>
            <div class="button_box">
              <div class="buttons">
                <a href="?id=<%=userId%>&state=start"+  class="start_button">start</a>
                <a href="?id=<%=userId%>&state=switch" class="switch_button">switch</a>
                <a
                  href="?id=<%=userId%>&state=finish"
                  class="finish_button"
                  id="finish_button"
                  >finish</a
                >

              </div>
            </div>
            <div class="rest_time_display">
              <span class="rest_time" id="rest_time">00:00:00</span>
            </div>
            <div class="start_time_display">
              <span class="start_time" id="start_time">Start Time</span>
            </div>
          </div>
        </section>

        <!-- statistics -->
        <!--<section>
          <div class="statistics">
            <div class="plotly">
              <div
                id="d7423220-d075-42d5-8222-2c33c4ba0611"
                class="plotly-graph-div"
                style="height: 100%; width: 100%"
              ></div>
              <script type="text/javascript">
                window.PLOTLYENV = window.PLOTLYENV || {};

                if (
                  document.getElementById(
                    "d7423220-d075-42d5-8222-2c33c4ba0611"
                  )
                ) {
                  Plotly.newPlot(
                    "d7423220-d075-42d5-8222-2c33c4ba0611",
                    [
                      {
                        type: "bar",
                        x: [
                          "2018-8",
                          "2018-9",
                          "2018-10",
                          "2018-11",
                          "2018-12",
                          "2019-1",
                          "2019-2",
                          "2019-3",
                          "2019-4",
                          "2019-5",
                          "2019-6",
                          "2019-7",
                          "2019-8",
                          "2019-9",
                          "2019-10",
                          "2019-11",
                          "2019-12",
                          "2020-1",
                          "2020-2",
                          "2020-3",
                          "2020-4",
                          "2020-5",
                          "2020-6",
                          "2020-7",
                          "2020-8",
                          "2020-9",
                          "2020-10",
                          "2020-11",
                        ],
                        y: [
                          384,
                          187,
                          136,
                          362,
                          249,
                          276,
                          661,
                          233,
                          169,
                          395,
                          195,
                          376,
                          291,
                          490,
                          588,
                          1009,
                          801,
                          1183,
                          487,
                          819,
                          877,
                          1303,
                          1241,
                          2506,
                          1585,
                          1367,
                          1261,
                          337,
                        ],
                      },
                    ],
                    {
                      template: {
                        data: {
                          bar: [
                            {
                              error_x: { color: "#2a3f5f" },
                              error_y: { color: "#2a3f5f" },
                              marker: {
                                line: { color: "#E5ECF6", width: 0.5 },
                              },
                              type: "bar",
                            },
                          ],
                          barpolar: [
                            {
                              marker: {
                                line: { color: "#E5ECF6", width: 0.5 },
                              },
                              type: "barpolar",
                            },
                          ],
                          carpet: [
                            {
                              aaxis: {
                                endlinecolor: "#2a3f5f",
                                gridcolor: "white",
                                linecolor: "white",
                                minorgridcolor: "white",
                                startlinecolor: "#2a3f5f",
                              },
                              baxis: {
                                endlinecolor: "#2a3f5f",
                                gridcolor: "white",
                                linecolor: "white",
                                minorgridcolor: "white",
                                startlinecolor: "#2a3f5f",
                              },
                              type: "carpet",
                            },
                          ],
                          choropleth: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              type: "choropleth",
                            },
                          ],
                          contour: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "contour",
                            },
                          ],
                          contourcarpet: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              type: "contourcarpet",
                            },
                          ],
                          heatmap: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "heatmap",
                            },
                          ],
                          heatmapgl: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "heatmapgl",
                            },
                          ],
                          histogram: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "histogram",
                            },
                          ],
                          histogram2d: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "histogram2d",
                            },
                          ],
                          histogram2dcontour: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "histogram2dcontour",
                            },
                          ],
                          mesh3d: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              type: "mesh3d",
                            },
                          ],
                          parcoords: [
                            {
                              line: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "parcoords",
                            },
                          ],
                          pie: [{ automargin: true, type: "pie" }],
                          scatter: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scatter",
                            },
                          ],
                          scatter3d: [
                            {
                              line: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scatter3d",
                            },
                          ],
                          scattercarpet: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scattercarpet",
                            },
                          ],
                          scattergeo: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scattergeo",
                            },
                          ],
                          scattergl: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scattergl",
                            },
                          ],
                          scattermapbox: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scattermapbox",
                            },
                          ],
                          scatterpolar: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scatterpolar",
                            },
                          ],
                          scatterpolargl: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scatterpolargl",
                            },
                          ],
                          scatterternary: [
                            {
                              marker: {
                                colorbar: { outlinewidth: 0, ticks: "" },
                              },
                              type: "scatterternary",
                            },
                          ],
                          surface: [
                            {
                              colorbar: { outlinewidth: 0, ticks: "" },
                              colorscale: [
                                [0.0, "#0d0887"],
                                [0.1111111111111111, "#46039f"],
                                [0.2222222222222222, "#7201a8"],
                                [0.3333333333333333, "#9c179e"],
                                [0.4444444444444444, "#bd3786"],
                                [0.5555555555555556, "#d8576b"],
                                [0.6666666666666666, "#ed7953"],
                                [0.7777777777777778, "#fb9f3a"],
                                [0.8888888888888888, "#fdca26"],
                                [1.0, "#f0f921"],
                              ],
                              type: "surface",
                            },
                          ],
                          table: [
                            {
                              cells: {
                                fill: { color: "#EBF0F8" },
                                line: { color: "white" },
                              },
                              header: {
                                fill: { color: "#C8D4E3" },
                                line: { color: "white" },
                              },
                              type: "table",
                            },
                          ],
                        },
                        layout: {
                          annotationdefaults: {
                            arrowcolor: "#2a3f5f",
                            arrowhead: 0,
                            arrowwidth: 1,
                          },
                          coloraxis: {
                            colorbar: { outlinewidth: 0, ticks: "" },
                          },
                          colorscale: {
                            diverging: [
                              [0, "#8e0152"],
                              [0.1, "#c51b7d"],
                              [0.2, "#de77ae"],
                              [0.3, "#f1b6da"],
                              [0.4, "#fde0ef"],
                              [0.5, "#f7f7f7"],
                              [0.6, "#e6f5d0"],
                              [0.7, "#b8e186"],
                              [0.8, "#7fbc41"],
                              [0.9, "#4d9221"],
                              [1, "#276419"],
                            ],
                            sequential: [
                              [0.0, "#0d0887"],
                              [0.1111111111111111, "#46039f"],
                              [0.2222222222222222, "#7201a8"],
                              [0.3333333333333333, "#9c179e"],
                              [0.4444444444444444, "#bd3786"],
                              [0.5555555555555556, "#d8576b"],
                              [0.6666666666666666, "#ed7953"],
                              [0.7777777777777778, "#fb9f3a"],
                              [0.8888888888888888, "#fdca26"],
                              [1.0, "#f0f921"],
                            ],
                            sequentialminus: [
                              [0.0, "#0d0887"],
                              [0.1111111111111111, "#46039f"],
                              [0.2222222222222222, "#7201a8"],
                              [0.3333333333333333, "#9c179e"],
                              [0.4444444444444444, "#bd3786"],
                              [0.5555555555555556, "#d8576b"],
                              [0.6666666666666666, "#ed7953"],
                              [0.7777777777777778, "#fb9f3a"],
                              [0.8888888888888888, "#fdca26"],
                              [1.0, "#f0f921"],
                            ],
                          },
                          colorway: [
                            "#636efa",
                            "#EF553B",
                            "#00cc96",
                            "#ab63fa",
                            "#FFA15A",
                            "#19d3f3",
                            "#FF6692",
                            "#B6E880",
                            "#FF97FF",
                            "#FECB52",
                          ],
                          font: { color: "#2a3f5f" },
                          geo: {
                            bgcolor: "white",
                            lakecolor: "white",
                            landcolor: "#E5ECF6",
                            showlakes: true,
                            showland: true,
                            subunitcolor: "white",
                          },
                          hoverlabel: { align: "left" },
                          hovermode: "closest",
                          mapbox: { style: "light" },
                          paper_bgcolor: "white",
                          plot_bgcolor: "#E5ECF6",
                          polar: {
                            angularaxis: {
                              gridcolor: "white",
                              linecolor: "white",
                              ticks: "",
                            },
                            bgcolor: "#E5ECF6",
                            radialaxis: {
                              gridcolor: "white",
                              linecolor: "white",
                              ticks: "",
                            },
                          },
                          scene: {
                            xaxis: {
                              backgroundcolor: "#E5ECF6",
                              gridcolor: "white",
                              gridwidth: 2,
                              linecolor: "white",
                              showbackground: true,
                              ticks: "",
                              zerolinecolor: "white",
                            },
                            yaxis: {
                              backgroundcolor: "#E5ECF6",
                              gridcolor: "white",
                              gridwidth: 2,
                              linecolor: "white",
                              showbackground: true,
                              ticks: "",
                              zerolinecolor: "white",
                            },
                            zaxis: {
                              backgroundcolor: "#E5ECF6",
                              gridcolor: "white",
                              gridwidth: 2,
                              linecolor: "white",
                              showbackground: true,
                              ticks: "",
                              zerolinecolor: "white",
                            },
                          },
                          shapedefaults: { line: { color: "#2a3f5f" } },
                          ternary: {
                            aaxis: {
                              gridcolor: "white",
                              linecolor: "white",
                              ticks: "",
                            },
                            baxis: {
                              gridcolor: "white",
                              linecolor: "white",
                              ticks: "",
                            },
                            bgcolor: "#E5ECF6",
                            caxis: {
                              gridcolor: "white",
                              linecolor: "white",
                              ticks: "",
                            },
                          },
                          title: { x: 0.05 },
                          xaxis: {
                            automargin: true,
                            gridcolor: "white",
                            linecolor: "white",
                            ticks: "",
                            title: { standoff: 15 },
                            zerolinecolor: "white",
                            zerolinewidth: 2,
                          },
                          yaxis: {
                            automargin: true,
                            gridcolor: "white",
                            linecolor: "white",
                            ticks: "",
                            title: { standoff: 15 },
                            zerolinecolor: "white",
                            zerolinewidth: 2,
                          },
                        },
                      },
                      title: {
                        text: "\uc6d4\ubcc4 \uac00\uc785\uc790 \ubcc0\ud654",
                      },
                      xaxis: { anchor: "y", domain: [0.0, 0.94] },
                      yaxis: { anchor: "x", domain: [0.0, 1.0] },
                      yaxis2: { anchor: "x", overlaying: "y", side: "right" },
                    },
                    { responsive: true }
                  );
                }
              </script>
            </div>
          </div>
        </section>-->
      </div>
      <!-- tab -->

      <!-- user tab -->
      <div class="user_tab">
        <div class="profile_box">
          <div class="img_box">
            <img class="profile_img" src=<%= userImage %> alt="" />
          </div>
          <span><%= userName %></span>
        </div>
        <div class="menu">
          <li>
            <a href="#">설정</a>
            <a
              id="loginout_button"
              href="#"
              onclick="
              if(this.innerHTML === '로그인'){
                gauth.signIn().then(function(){
                  console.log('gauth.signIn()');
                  checkLoginStatus();
                });

              } else {
                gauth.signOut().then(function(){
                  console.log('gauth.signOut()');
                  checkLoginStatus();
                  location.href='/';
                });
                
              }
            "
              >로그아웃</a
            >
          </li>
        </div>
      </div>
    </div>

    <script
      src="https://apis.google.com/js/platform.js?onload=init"
      async
      defer
    ></script>

    <script src="js/timer.js"></script>
    <script>
      console.log("loading timer");
      if(<%=visited%>){
        myClock.load("<%=userId%>", "<%=date%>");
      }
    </script>
  </body>
</html>
