<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twin Stopwatch</title>
    <!-- Roboto -.->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--Space Grotesk 400, 500-->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/16de46bef4.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/json" src="<%=userId%>/<%=date%>/timeline.json"></script>
    <script src="js/tab.js" defer></script>
    <script src="js/login.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="js/utils.js"></script>
    <script src="js/date.js" defer></script>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="903349332883-995chld01uuon0eips74usst1222bmcp.apps.googleusercontent.com"
    />

    <script>
      function checkLoginStatus() {
        console.log("googleAuth success");
        var loginBtn = document.querySelector("#loginout_button");
        if (gauth.isSignedIn.get()) {
          console.log("logined");
          var profile = gauth.currentUser.get().getBasicProfile();
          console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log("Name: " + profile.getName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail()); // This is null if the 'email' scope is not present.

          loginout_button.innerHTML = "로그아웃";
        } else {
          console.log("logouted");
          loginout_button.innerHTML = "로그인";
        }
      }
      function init() {
        console.log("init");
        gapi.load("auth2", function () {
          console.log("auth2");
          window.gauth = gapi.auth2.init({
            client_id:
              "903349332883-995chld01uuon0eips74usst1222bmcp.apps.googleusercontent.com",
          });
          gauth.then(
            function () {
              console.log("googleAuth success");
              checkLoginStatus();
            },
            function () {
              console.log("googleAuth fail");
            }
          );
        });
      }

      
    </script>


  </head>

  <body>
    <!-- header -->
    <header>
      <div class="nav_bar">
        <a href="#" class="menu_icon">
          <i class=""></i>
        </a>
        <a a href="#" class="user_icon">
          <i class="far fa-user"></i>
        </a>
        <span class="user_name"><%=userName%></span>
      </div>
    </header>
    <!-- main content-->
    
    <div class="main_contents_and_tab">
      <div class="main_content">
        <!-- timer -->
        <section id="timer">
          <div class="timer">
            <div class="study_time_display">
              <span class="study_time" id="study_time">00:00:00</span>
            </div>
            <div class="button_box">
              <div class="buttons">
                <a class="start_button">start</a>
                <a class="switch_button">switch</a>
                <a
                  class="finish_button"
                  id="finish_button"
                  >finish</a
                >

              </div>
            </div>
            <div class="rest_time_display">
              <span class="rest_time" id="rest_time">00:00:00</span>
            </div>
            <div class="start_time_display">
              <span class="start_time" id="start_time">Start Time</span>
            </div>
          </div>
        </section>
        <!-- chart -->
        <div class="chart_box">
          <div class="chart_box_elem">
            <div class= "wrap_chart">
              <canvas id="chart" style="display: flex;"></canvas>
            </div>
          </div>
          <ul class="chart_edit_box" id="app">
              <li class="start_time_box">
                <span class="chart_start_time">시작시간: 00:00:00 </span>
                 
              </li>
              <li class="finish_time_box">
                <span class="chart_finish_time">종료시간: 11:11:11 </span>
                
              </li>
              <li class="duration_time_box">
                <span class="chart_duration_time">소요시간: zz:zz:zz </span>
              </li>
              <button class="chart_edit_button" type="button">
                수정
              </button>
              <li class="edit_time_box">
                <input class="chart_start_time_input"placeholder="변경할 시간" size="10">
                <input class="chart_finish_time_input" placeholder="변경할 시간" size="10"> 
              </li>
              <button class="chart_add_button" type="button">
                추가
              </button>
              <div class="add_time_box">

              </div>
              <button class="chart_delete_button" type="button">
                삭제
              </button>
              <div class="delete_time_box">

              </div>
              <div class="blank"></div>

          </ul>
        </div>
        
      </div>
      <!-- tab -->

      <!-- user tab -->
      <div class="user_tab">
        <div class="profile_box">
          <div class="img_box">
            <img class="profile_img" src=<%= userImage %> alt="" />
          </div>
          <span><%= userName %></span>
        </div>
        <div class="menu">
          <li>
            <a href="#">설정</a>
            <a
              id="loginout_button"
              href="#"
              onclick="
              if(this.innerHTML === '로그인'){
                gauth.signIn().then(function(){
                  console.log('gauth.signIn()');
                  checkLoginStatus();
                });

              } else {
                gauth.signOut().then(function(){
                  console.log('gauth.signOut()');
                  checkLoginStatus();
                  location.href='/';
                });
                
              }
            "
              >로그아웃</a
            >
          </li>
        </div>
      </div>
      <script src="js/chart.js"></script>
    </div>

    <script
      src="https://apis.google.com/js/platform.js?onload=init"
      async
      defer
    ></script>

    <script src="js/timer.js"></script>
    <script>
      console.log("loading timer");
      if(<%=visited%>){
        myClock.load("<%=userId%>", "<%=timelineJson%>");
        console.log(`before set to my clock userId: <%=userId%>`);
        myClock.userId = <%=userId%>;
      }else{
        console.log(`before set to my clock userId: <%=userId%>`);
        myClock.userId = <%=userId%>;
      }
    </script>
  </body>

<!-- 
  <div id="app">
    
    <button @click="handle_toggle" type="button">
        모달창 띄우기
    </button>

   
    <div v-show="is_show">
        <h5>뷰하!</h5>
        <p>v-if와 v-show로 모달창을 띄워봅시다.</p>

        <button @click="handle_toggle" type="button">
            확인
        </button>
    </div>
  </div>

  
  <script>
    new Vue({
      el: "#app",
      data: {
        is_show: false,
      },
      methods: {
        handle_toggle: function () {
          this.is_show = !this.is_show; // #2, #3
        },
      },
    });
  </script> -->
</html>

